.container {
    background-color: lightcoral;
}

.title {
    color: rgb(116, 21, 21);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans';
    background-color: lightcoral;
    text-wrap: 200px;
}

input {
    width: 100%;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcoral;
}

ul {
    width: 40%;
    margin: auto;
}

.items {
    margin-top: 20px;
    text-align: center;
    color: lightcoral;
    font-family: 'lucida Sans';
}

.li-c {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

button {
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #fff;
    border: none;
    color: rgb(146, 26, 26);
}

.li-c:hover button {
    opacity: 1;
    background-color: lightcoral;
}